body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #55557a;
  color:#f5f6f7;
  font-family: Tahoma;
  font-size: 16px;
  padding: 2px;
  text-align: center;
}

h1 a {
  color:#f5f6f7;
}

a {
  color: #ccbcbc; 
  text-decoration: none; 
  font-weight: bolder; 
}

a:hover {
  color: #4b4646; 
  text-decoration: underline; 
}

a:active {
  opacity: 0.3;
}