body {
    background-color: lightgray;
}

button {
    width: 269px;
    height: 95px;
    border: solid 13px white;
    background-color: #09f;
}

strong {
    font-weight: 700;
    font-size: larger;
    color: #fff;
}

button:hover {
    opacity: 0.7;
}

button:active {
    opacity: 0.3;
}